#background-video {
    
    z-index: -2; 
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover; 
      filter: grayscale(50%) brightness(0.9) opacity(0.8);
    }
  
  .content {
      position: relative; 
      color: white;  
  }
  
  .blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);  
    z-index: -1;
}
.grain-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    opacity: 0.15;  
    z-index: -1;
}