html {
  scroll-behavior: smooth;
}
.pattern-links-section {
  padding-top: 100px; /* Add space above the pattern links section */
  /* Add any other styling for the section as needed */
  background-color: #1d2628;
}

.gallery {
position: relative;
--s: 220px;
--g: 1px;
display: grid;
grid: auto-flow var(--s) / repeat(2, var(--s));
gap: var(--g);
}

.gallery > img {
width: 100%;
aspect-ratio: 1;
cursor: pointer;
filter: grayscale();
transition: 0.15s, z-index 0s 0.15s;
}

.gallery > img:hover {
z-index: 999;
scale: 1.3;
width: calc(200% + var(--g));
filter: grayscale(0);
--_c: 50%;
transition: 0.4s, ease-in-out z-index 0s;
}

.gallery > img:nth-child(1) {
clip-path: circle(var(--_c, 55% at 70% 70%));
place-self: start;
}

.gallery > img:nth-child(2) {
clip-path: circle(var(--_c, 55% at 30% 70%));
place-self: start end;
}

.gallery > img:nth-child(3) {
clip-path: circle(var(--_c, 55% at 70% 30%));
place-self: end start;
}

.gallery > img:nth-child(4) {
clip-path: circle(var(--_c, 55% at 30% 30%));
place-self: end;
}

body {
margin: 0;
min-height: 100vh;
display: flex; /* Changed from grid to flex */
flex-direction: column; /* Stack items vertically */
/* place-content: center;  Removed place-content */
background: #1d2628;
align-items: center;
/* transform: scale(0.9);
width: 100%; */
}

.pattern-container {
position: relative;
z-index: 2;
}
